<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Sign in receipt sharing</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="/static/styles/teststyle.css">

</head>

<body>
    <ul class="l-list">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
    </ul>
    <div class="nav-container">
        <nav>
            <div class="box-img">
               <!-- <img id="nav-img" src="imgs/connection_internet_network_send_share_sharing_social_icon_123194.ico"/> -->
                <script src="/templates/testjs.js"></script>
            </div>
           
        </nav>
    </div>

    <div class="container"> 
        <div class="box1"> 
            <div class="box2">
                <button onclick="test()"> go to ggogle</button>

                <h1>Hello</h1>
                <button>Click me</button>

                <ul>
                    <li>
                        <div style="border: black solid;"></div>
                        <div></div>
                    </li>
                </ul>
                

            </div>
        </div>
        
        
    </div>
</body>

</html>