
.nav-container{
    background: rgb(6, 6, 6);
    position: relative;
    font-size: 62.5%;
    color: white;
    max-width: 100%;
    
    
}

.nav-tag{
    max-width: 100%;
    margin: auto;
    padding: 0.2rem 0rem;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .nav-home{
        list-style: none;
        flex: 1;
        margin: 0;
        align-items: center;
        padding-left: 10%;
        .home-link {
            color: white;
            font-size: 2.6rem;
            font-family: 'Times New Roman', Times, serif;
            padding: 0rem 2rem;
        }
    }

    .nav-ul{
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;
        margin: 0;
        align-items: center;
      padding-right: 10%;
        .nav-li{
            font-size: 2.6rem;
            a{
                color: white;
                text-decoration: none;           
             }     
        }
    } 

    .login {
       /* background: #f54538;*/
       background: none;
        padding: 0rem 1rem;
        border-radius: 0rem;
        color: white;
        font-size: 2.6rem;
        font-family: 'Times New Roman', Times, serif;  
    }
    .signin{
        background: none;
        padding: 0rem 1rem;
        border-radius: 0rem;
        color: white;
        font-size: 2.6rem;
        font-family: 'Times New Roman', Times, serif;
       
    }

    .locales{
        margin-left: 1rem;
        font-size: 2.6rem;
        font-family: 'Times New Roman', Times, serif;
        overflow: hidden;
        margin-right: 1rem;
    
    }
}


