html{
    font-size: 62.5%;
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    color: black;
  }


  h1{
      font-size: 3.6rem;
      font-weight: lighter;
      color: black;
  }

  h2{
      font-size: 2.5rem;
      font-weight: lighter;
      color: black;
  }

  h3{
    font-size: 3.5rem;
    font-weight: lighter;
    color: black;
  }
  
  h4{
    font-size: 3rem; 
  }
  p{
      font-size: 2rem;
  }

    li{
        font-size: 2.5rem;
        font-weight: lighter;
    }

   
  a{
      color: white;
      text-decoration: none;
   }

   label{
       font-size: 2.5rem;
       font-weight: lighter;
   }
   input{
       font-size: 2.5rem;
       font-weight: lighter;
   }
   
   .background-section{
        background: url(/imgs/background-img.jpg) no-repeat;
        
        /*Make the section down the bottom of the page*/
        height: 100vh;
        background-size: cover;
        background-position: center ;
        display:flex;
        justify-self: center;
        justify-content: center;
        object-fit: cover;
        position: relative;
}



@import "home";
@import "registration";
@import "navigation";
@import "receipt";



@media screen and (max-width: 1300px){

  html{
    font-size: 50%;
  }
}


@media screen and (max-width: 700px){

  html{
    font-size: 50%;
  }

  .nav-tag{
    .nav-home{
      flex: 1;
    }
    .nav-ul{
      flex: 3;
    }
  }
.showcase-reg{
  margin-top: 10vh;
}


}

@media screen and (max-width: 400px){

  html{
    font-size: 40%;
  }

  .nav-tag{
    .nav-home{
      padding-left: 0;
      flex: 1;
    }
    .nav-ul{
      flex: 1;
      padding-right: 0;
    }
  }
.showcase-reg{
  position: absolute;
        background:white;
        padding: 1rem 1rem;
        margin-top: 3vh;
        min-width: min-content;
        max-width: 90%;
        margin-left: 0;
        
        margin-bottom: 3vh; 
}

.minus{
  width: 6rem !important;
  font-size: x-small !important;;
}

.plus{
  width: 6rem !important;
  font-size: x-small !important;;
}
.delete{
  width: 6rem !important;
}


}